@using JobLogger.Models

<script type="text/html" id="EditActTemp">
    <div class="form-group">
        <label for="LogActDate" class="col-md-1 control-label">Date</label>
        <div class="col-md-4">
            <input type="date" class="form-control" id="LogActDate"
                   data-bind="value: model.LogDate" />
        </div>
        <label for="LogLoc" class="col-md-1 control-label">Location</label>
        <div class="col-md-6">
            @*Note: This field hard-codes the database length constraint*@ 
            <input type="text" class="form-control" id="LogLoc"
                   maxlength="64" placeholder="e.g. WorkSource"
                   data-bind="textInput: model.Location,
                   style: {background: model.Location().length > 60 ? 'red' : '',
                           color: model.Location().length > 60 ? 'white' : ''}" />
        </div>
    </div>
    <div class="form-group">
        <label for="LogActDesc" class="col-md-1 control-label">Description</label>
        <div class="col-md-11">
            @*Note: This field hard-codes the database length constraint*@ 
            <textarea class="form-control" id="LogActDesc" rows="5"
                      maxlength="256" placeholder="Required"
                      data-bind="textInput: model.Description,
                                 style: {background: model.Description().length > 240 ? 'red' : '',
                                 color: model.Description().length > 240 ? 'white' : ''}">
            </textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 col-md-offset-10">
            <button type="submit" class="form-control btn-primary"
                    id="LogActSubmit" data-bind="text: actionName">
                Add Log
            </button>
        </div>
    </div>
</script>

<script type="text/html" id="EditConTemp">
    <div class="form-group">
        <label for="LogConDate" class="col-md-1 control-label">Date</label>
        <div class="col-md-4">
            <input type="date" class="form-control" id="LogConDate"
                   data-bind="value: model.LogDate" />
        </div>
        <label for="LogEmp" class="col-md-1 control-label">Employer</label>
        <div class="col-md-6">
            @*Note: This field hard-codes the database length constraint*@ 
            <input type="text" class="form-control" id="LogEmp"
                   maxlength="64" placeholder="Required"
                   data-bind="textInput: model.Employer,
                              style: {background: model.Employer().length > 60 ? 'red' : '',
                              color: model.Employer().length > 60 ? 'white' : ''}" />

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">Contact Type</div>
                <div class="panel-body">
                    <div class="btn-group btn-group-justified" data-toggle="buttons"
                         data-bind="radio: model.ContactType">
                        @foreach (int val in typeof(ContactType).GetEnumValues())
                        {
                            var name = typeof(ContactType).GetEnumName(val);
                            <label class="btn btn-primary"
                                   title="@name">
                                <input type="radio" name="conType"
                                       value="@val" autocomplete="off" />
                                <span class="hidden-xs">
                                    @name
                                </span>
                                <span class="visible-xs">
                                    @name.Remove(3)
                                </span>
                            </label>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">Means of Contact</div>
                <div class="panel-body">
                    <div class="btn-group btn-group-justified"
                         data-toggle="buttons"
                         data-bind="radio: model.ContactMeans">
                        @foreach (int val in typeof(ContactMeans).GetEnumValues())
                        {
                            var name = typeof(ContactMeans).GetEnumName(val);
                            <label class="btn btn-primary active"
                                   title="@name">
                                <input type="radio" name="means"
                                       value="@val" autocomplete="off" checked />
                                <span class="hidden-xs">
                                    @name
                                </span>
                                <span class="visible-xs">
                                    @if (name.Count() > 4)
                                    {
                                        @name.Remove(3)
                                    }
                                    else
                                    {
                                        @name
                                    }
                                </span>
                            </label>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="LogContact" class="col-md-1 control-label">Contact</label>
        <div class="col-md-5">
            @*Note: This field hard-codes the database length constraint*@ 
            <input type="text" class="form-control" maxlength="64"
                   data-bind="textInput: model.Contact,
                                      attr: {placeholder: model.contactPrompt()},
                              style: {background: model.Contact().length > 60 ? 'red' : '',
                                      color: model.Contact().length > 60 ? 'white' : ''}" />
        </div>
        <label for="LogPhone" class="col-md-1 control-label">Phone</label>
        <div class="col-md-5">
            @*Note: This field hard-codes the database length constraint*@ 
            <input type="tel" class="form-control" id="LogPhone"
                   maxlength="13" placeholder="360-123-4567 (optional)"
                   data-bind="textInput: model.Phone,
                              style: {background: model.Phone().length > 11 ? 'red' : '',
                                      color: model.Phone().length > 11 ? 'white' : ''}" />
        </div>
    </div>
    <div class="form-group">
        <label for="LogAddress" class="col-md-1 control-label">Address</label>
        <div class="col-md-6">
            @*Note: This field hard-codes the database length constraint*@ 
            <input type="text" class="form-control" maxlength="64"
                   data-bind="textInput: model.Address,
                              attr: {placeholder: model.addressPrompt()},
                              style: {background: model.Address().length > 60 ? 'red' : '',
                                      color: model.Address().length > 60 ? 'white' : ''}" />
        </div>
        <label for="LogCity" class="col-md-1 control-label">City</label>
        <div class="col-md-2">
            @*Note: This field hard-codes the database length constraint*@ 
            <input type="tel" class="form-control" id="LogCity"
                   maxlength="32" data-bind="textInput: model.City,
                              style: {background: model.City().length > 30 ? 'red' : '',
                                      color: model.City().length > 30 ? 'white' : ''}" />
        </div>
        <label for="LogState" class="col-md-1 control-label">State</label>
        <div class="col-md-1">
            @*Note: This field hard-codes the database length constraint*@ 
            <input type="text" class="form-control" id="LogState"
                   maxlength="32" value="WA" data-bind="textInput: model.State,
                              style: {background: model.State().length > 3 ? 'red' : '',
                                      color: model.State().length > 3 ? 'white' : ''}" />
        </div>
    </div>
    <div class="form-group">
        <label for="LogConDesc" class="col-md-1 control-label">Description</label>
        <div class="col-md-11">
            @*Note: This field hard-codes the database length constraint*@ 
            <textarea class="form-control" id="LogConDesc" rows="5"
                      maxlength="256" placeholder="Required"
                      data-bind="textInput: model.Description",
                                 style: {background: model.Description().length > 240 ? 'red' : '',
                                 color: model.Description().length > 240 ? 'white' : ''}">
            </textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 col-md-offset-10">
            <button type="submit" class="form-control btn-primary"
                    data-bind="text: actionName">
                Add Log
            </button>
        </div>
    </div>
</script>

<script type="text/html" id="DeletePanel">
    <div class="btn-group pull-right" data-toggle="buttons">
            <label class="btn btn-sm btn-default"
                   data-bind="css: {'active': !Edit},
                              click: toggleEdit">
                <input type="checkbox" checked data-bind="checked: Edit" />
                Edit
            </label>
        <a class="btn btn-sm btn-danger" role="button"
           data-toggle="collapse" aria-expanded="false" aria-controls="DeletePrompt"
           data-bind="attr: {'data-target': '#delete-' + Id()}">
            Delete
        </a>
    </div>
    <br />
    <br />
    <!-- ko if: Edit -->
    <form class="form-horizontal" data-bind="submit: updateLog.bind($data)">
        <div data-bind="template: {name: $parent.editTemplate($data),
                                   data: {actionName: 'Update Log',
                                          model: $data}}"></div>
    </form>
    <!-- /ko -->
    <div class="collapse"
         data-bind="attr: {id: 'delete-' + Id()}">
        <div class="alert alert-danger" role="alert">
            <h4>Really Delete?</h4>
            <p>This cannot be undone!</p>
            <p>
                <button type="button" class="btn btn-danger"
                        data-trigger="deleteLog"
                        data-bind="click: deleteLog">
                    Really Delete!
                </button>
                <button type="button" class="btn btn-default"
                        data-toggle="collapse" aria-expanded="false" aria-controls="DeletePrompt"
                        data-bind="attr: {'data-target': '#delete-' + Id()}">
                    Nevermind
                </button>
            </p>
        </div>
    </div>
</script>

<script type="text/html" id="ActLogTemp">
    <div data-bind="attr: {id:'log-' + Id()}" class="panel panel-default">
        <div class="panel-heading" role="tab"
             data-bind="attr: {id: 'head-' + Id()}">
            <h4 class="panel-title pull-left">
                <a role="button" data-toggle="collapse"
                   data-bind="attr: {href: '#body-' + Id(),
                                     'aria-controls': 'body-' + Id()}"
                   aria-expanded="false"
                   class="btn">
                    <span class="label label-default"
                          data-bind="text: LogDate">
                    </span>
                    &nbsp; Activity at
                    <span data-bind="text: Location"></span>
                    <span class="glyphicon glyphicon-menu-down"></span>
                </a>
            </h4>
            <div data-bind="template: {name: 'DeletePanel'}"></div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-collapse collapse" role="tabpanel"
             data-bind="attr: {id: 'body-' + Id(),
                               'aria-labelledby': 'head-' + Id()}">
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Description:</dt>
                    <dd><pre data-bind="text: Description"></pre></dd>
                </dl>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="ConLogTemp">
    <div data-bind="attr: {id:'log-' + Id()}" class="panel panel-default">
        <div class="panel-heading" role="tab">
            <h4 class="panel-title pull-left">
                <a role="button" data-toggle="collapse"
                   data-bind="attr: {href: '#body-' + Id(),
                                     'aria-controls': 'body-' + Id()}"
                   aria-expanded="false"
                   class="btn">
                    <span class="label label-default"
                          data-bind="text: LogDate">
                    </span>
                    &nbsp; Contacted
                    <span data-bind="text: Employer"></span>
                    <span class="glyphicon glyphicon-menu-down"></span>
                </a>
            </h4>
            <div data-bind="template: {name: 'DeletePanel'}"></div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-collapse collapse" role="tabpanel"
             data-bind="attr: {id: 'body-' + Id(),
                               'aria-labelledby': 'head-' + Id()}">
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Contact Type:</dt>
                    <dd data-bind="text: TypeName()">&nbsp;</dd>
                    <dt>Means:</dt>
                    <dd data-bind="text: meansName()">&nbsp;</dd>
                    <dt>Contact:</dt>
                    <dd data-bind="text: Contact">&nbsp;</dd>
                    <dt>Phone:</dt>
                    <dd data-bind="text: Phone() ? Phone : 'Not Provided'">&nbsp;</dd>
                    <dt>Address:</dt>
                    <dd>
                        <span data-bind="if: Address().startsWith('http')">
                            <a data-bind="text: Address, attr: {href: Address}"></a>
                        </span>
                        <span data-bind="ifnot: Address().startsWith('http')">
                            <span data-bind="text: Address"></span>
                        </span>
                    </dd>
                    <dt>City:</dt>
                    <dd data-bind="text: City">&nbsp;</dd>
                    <dt>State:</dt>
                    <dd data-bind="text: State">&nbsp;</dd>
                    <dt>Description:</dt>
                    <dd><pre data-bind="text: Description">&nbsp;</pre></dd>
                </dl>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="FilterBar">
    <div class="form-inline">
        <h4 class="pull-left">
            Logs:
            <span data-bind="text: ShownCount"></span>/
            <span data-bind="text: Count"></span>
            <a class="btn btn-sm btn-default" role="button"
               data-bind="click: emailReport" title="Email log report to yourself">
                Email Report
            </a>
            <a class="btn btn-sm btn-default" role="button"
               data-bind="attr: {href: ShareHref}"
               title="Sharable link to this list">
                Sharable link
            </a>
        </h4>
        <div class="pull-right">
            <label class="control-label">
                Week of:
                <input type="date" class="form-control"
                       data-bind="value: FilterDate" />
            </label>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-sm btn-default"
                       data-bind="css: {'active': !Filtered},
                              click: toggleFiltered">
                    <input type="checkbox" data-bind="checked: Filtered" />
                    Filter
                </label>
            </div>
            <label class="control-label">
                Search:
                <input type="text" class="form-control"
                       data-bind="textInput: SearchString" />
            </label>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-sm btn-default"
                       data-bind="css: {'active': !Searched},
                              click: toggleSearched">
                    <input type="checkbox" data-bind="checked: Searched" />
                    Search
                </label>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</script>
