@model BaseLog
@using JobLogger.Models

@if (Model is ActivityLog)
{
    var actLog = (Model as ActivityLog);
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title pull-left">
                        <a role="button" data-toggle="collapse" href="#@actLog.Id"
                           aria-expanded="false" aria-controls="@actLog.Id"
                           class="btn">
                            <span class="label label-default">
                                @actLog.LogDate.ToShortDateString()
                            </span>
                            &nbsp; Activity at
                            @actLog.Location
                            <span class="glyphicon glyphicon-menu-down"></span>
                        </a>
                    </h4>
                <div class="btn-group pull-right">
                    <a class="btn btn-sm btn-default">Edit</a>
                    <a class="btn btn-sm btn-danger">Delete</a>
                </div>
            <div class="clearfix"></div>
        </div>
        <div id="@actLog.Id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <dl class="dl-horizontal">
                <dt>Description:</dt>
                <dd><pre>@actLog.Description</pre></dd>
                </dl>
            </div>
        </div>
    </div>
}
else if (Model is ContactLog)
{
    var conLog = (Model as ContactLog);
    <div class="panel panel-default">
        <div class="panel-heading" role="tab">
                    <h4 class="panel-title pull-left">
                        <a role="button" data-toggle="collapse" href="#@conLog.Id"
                           aria-expanded="false" aria-controls="@conLog.Id"
                           class="btn">
                            <span class="label label-default">
                                @conLog.LogDate.ToShortDateString()
                            </span>
                            &nbsp; Contacted
                            @conLog.Employer
                            <span class="glyphicon glyphicon-menu-down"></span>
                        </a>
                    </h4>
                <div class="btn-group pull-right">
                    <a class="btn btn-sm btn-default">Edit</a>
                    <a class="btn btn-sm btn-danger">Delete</a>
                </div>
            <div class="clearfix"></div>
        </div>
        <div id="@conLog.Id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Contact Type:</dt>
                    <dd>@typeof(MethodType).GetEnumName(conLog.MethodType)</dd>
                    <dt>Means:</dt>
                    <dd>@typeof(MeansType).GetEnumName(conLog.MeansType)</dd>
                    <dt>Contact:</dt>
                    <dd>@conLog.Contact</dd>
                    <dt>Phone:</dt>
                    <dd>
                    @if (conLog.Phone != null)
                    {
                        @conLog.Phone;
                    } else
                    {
                        @:Not provided
                    }
                    </dd>
                    <dt>Address:</dt>
                    <dd>
                    @if (conLog.Address.StartsWith("http"))
                    {
                        <a href="@conLog.Address">@conLog.Address</a>
                    } else
                    {
                        @conLog.Address
                    }
                    </dd>
                    <dt>City:</dt>
                    <dd>@conLog.City</dd>
                    <dt>State:</dt>
                    <dd>@conLog.State</dd>
                    <dt>Description:</dt>
                    <dd><pre>@conLog.Description</pre></dd>
                </dl>
            </div>
        </div>
    </div>
        }
        else
        {
            <div class="bg-danger">Unknown Log!</div>
        }
